<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %} | Address Book!{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/addressbookcontact/css/custom.css') }}"  />
        {% block stylesheets %}{% endblock %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        {% block javascripts %}{% endblock %}

    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a href="#">Add Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        {% block body %}{% endblock %}

        <footer class="container-fluid text-center">&nbsp;</footer>

    </body>
</html>
