{% extends "base.html.twig" %}
{% block title %}
    Welcome {{ parent() }}
{% endblock %}

{% block body %}

    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-2">&nbsp;</div>

            <div class="col-sm-8 text-left">
                <h1>Welcome</h1>
                <hr>
                <div class="row">
                    <a class="btn btn-primary btn-lg" href="{{ path('add_contact') }}" >Add Contact</a>
                    <a class="btn btn-primary btn-lg" href="{{ path('search_contact') }}" >Search Contact</a>
                    <a class="btn btn-primary btn-lg" href="{{ path('list_contact') }}" >List Contact</a>
                </div>
            </div>

            <div class="col-sm-2">&nbsp;</div>
        </div>
    </div>

{% endblock %}
